.form-area {
  margin-top: 50px;
  text-align: center;
}

.table-area {
  margin-top: 20px;
  position: absolute;
  left: 30%;
  text-align: center;
}

h4 {
  margin-top: 20px;
  text-align: center;
}
